/* src/Components/About.css */
.about{
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    flex-direction: column;
    margin: 80px 170px;
}

.about-title{
    position: relative;

}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    right: 150;
}

.about-section{
    display: flex;
    gap:80px;
}

.about-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-container {
    width: 300px;
    height: 300px;
    position: relative;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.about-skill{
    display: flex;
    gap:50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size:24px;
    font-weight: 500;
}

.about-skill hr{
 outline: none;   
 border: none;
 width: 50%;
 height: 8px;
 border-radius: 50px;
background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
}

.about-achievements{
    display: flex;
    width: 100%;
    /* flex-direction: column; */
justify-content: space-around;
margin-bottom: 80px;    
}

.about-achievenment{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.about-achievenment h1{
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about-skill:hover{
    transform: scale(1.05); transition: 0.3s;
}

.about-achievenment:hover{
    transform: scale(1.05); transition: 0.3s;
}

@media (max-width: 768px) {
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-self: start;
    }

    .about-title h1{
        font-size: 50px;
        padding: 0;
    }

    .about-title img{
        right: -20px;
        width: 130px;
    }

    .about-sections{
        flex-direction: column;
    }

    .model-container {
        width: 200px;
        height: 200px;
    }

    .about-para{
        font-size: 18px;
        line-height: 32px;
    }

    
    .about-skill{
        gap: 2px;
        align-items: center;
    }
    .about-skills p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
        width: 100%;
    }

    

    .about-achievements{
        justify-content: space-between;

    }
    .about-achievenment{
        gap: 10px;
    }
    .about-achievenment h1{
        font-size: 34px; font-weight: 700;
    }

    .about-achievenment p{
        text-align: center;
        font-size: 16px;
    }
}