.nav-header {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 501;
}

.nav-logo {
  width: 140px;

}


.hamburger-toggle svg {
  stroke: var(--svg-color);
}


.hamburger-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.hamburger-toggle:hover {
  transform: scale(1.1);
}


.nav-toggle-btn {
  width: 30px;
  cursor: pointer;
  z-index: 502;
}
.hamburger-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background-color: var(--sidebar-color);
  padding-top: 80px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 20px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  color : var(--text-color);
}
.sidebar-menu p {
  color: #c71919; /* Default color for inactive items */
  transition: color 0.3s ease;
}

.active-text {
  color: #fff700; /* Vibrant color for active items */
}

.inactive-text {
  color: rgba(255, 255, 255, 0.6); /* Lighter color for inactive items */
}

.sidebar-menu p:hover {
  color: #aa00ff; /* Hover color */
}

.sidebar-close {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 30px;
  cursor: pointer;
  z-index: 1002;
}

.sidebar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.nav-item {
  cursor: pointer;
}

.nav-item p {
  color: white;
  font-size: 18px;
  margin: 0;
}

.underline {
  width: 70px;
  margin-top: 5px;
}

.nav-cta {
  margin-top: auto;
  padding-bottom: 130px;  /* Adjust the padding here to bring it up */
  padding-right: 20px;
  position: relative; /* creates a stacking context */
    z-index: 15;
}

.nav-cta p {
  margin: 0;
}

@media screen and (min-width: 769px) {
  body {
    padding-left: 5;
  }
}
a {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

a p {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
  z-index: 100;
}

a:hover p {
  color: #df8908; /* or your hover color */
  z-index: 100;
}

.underline {
  position: absolute;
  bottom: -5px; /* adjust as needed */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}
