.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 20px 170px ; 
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:40px;
    font-size: 20px;
}

.nav-menu li{
    cursor: pointer;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.nav-menu li img{
    display: flex; margin: auto;
}
.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-connect:hover{
    transform: scale(1.05);
    background: linear-gradient(267deg, #da7c25 50%, #b923e1);
}

.nav-menu .dropdown{
    position: relative;
}


.anchor-link{
    text-decoration: none;
    color: white;
    padding: 0%;
}


.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}
/* 
.anchor-link:hover{
    color: #b923e1;
} */

@media screen and (max-width: 768px){
    .navbar{
        margin: 20px 50px;
    }
    
     .nav-connect{
        display: none;
    }
         .nav-mob-open {
            display: block;
            position: fixed;
            right: 30px;
        }
    
        .nav-mob-close {
            display: block;
            position: relative;
            top: 30px;
            left: 290px;
            width: 30px;
        }

        .nav-menu{
            position: fixed;
            width: 350px; height: 100%; z-index: 2;
            transition: right 0.5s; gap: 30px;
            background-color: #1f0016; top: 0;
            align-items: start; flex-direction: column;
            right: -350px;
        }

        .nav-menu li{
            gap: 20px;
            font-size: 30px;
            padding-left:100px;
            flex-direction: row;
        }
}